<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Presença</title>
    <link rel="stylesheet" async="true" href="../static/styles.css">
</head>
<body>
    <main class="container">
        <form action="#" method="POST">
          
            <div class="form-convidado">
                <input type="text" id="convidado" name="convidado" placeholder="Nome do convidado" required>
            </div>
            <div class="form-acompanhate">
               <label for="">Acompanhates</label>
               <select id="acompanhantes" name="acompanhantes" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            </div>
            <button type="submit" class="submit-button">Enviar</button>
            <p>Data:02/07/2025</p>
        </form>
       
    </main>
</body>

</html>